<div class="container-fluid admin-sidebar">


    <section class="admin_header ">
      <nav class="navbar navbar-expand-lg admin_header bg-pink">
        <div class="container-fluid  ">
          <a class="navbar-brand text-light fw-bold" href="#">Admin  </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul> -->
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
</section>
    
    
    
    
    
    <!-- sidebar -->
     {{!-- <div class="container-fluid admin_sidebar ">
    <div class="wrapper">
        <div class="side_bar">
            <div class="side_bar_top">
                <div class="logo_wrap ">
                    <a href="#" class="text-decoration-none">
                        <img src="/images/_Pngtree_shopping_bag_icon_for_your_5201340-removebg-preview (2).png" alt="logo">
                        <!-- <span class="text">Admin</span> -->
                        <!-- <h4>admin@gmail.com</h4> -->
                    </a>
                    
                </div>
                <div class="side_bar_menu">
                    <div class="menu">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="side_bar_bottom">
                <ul>
                   <li>
                    <span class="top_curve"></span>
                   <a href="/admin/admindashboard" class="text-decoration-none">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="item">Dashboard</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 

                   <li>
                    <span class="top_curve"></span>
                   <a href="/admin/adminuserslist" class="text-decoration-none">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="item">Users</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 

                   <li>
                    <span class="top_curve"></span>
                   <a href="#" class="text-decoration-none">
                    <span class="icon"><ion-icon name="reorder-three-outline"></ion-icon></span>
                    <span class="item">Orders</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 
                  
                   <li>
                    <span class="top_curve"></span>
                   <a href="#" class="text-decoration-none">
                    <span class="icon"><ion-icon name="pricetags-outline"></ion-icon></span>
                    <span class="item">Products</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 
                   
                   <li>
                    <span class="top_curve"></span>
                   <a href="#" class="text-decoration-none">
                    <span class="icon"><ion-icon name="grid-outline"></ion-icon></span>
                    <span class="item">Category</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 
                  
                   <li>
                    <span class="top_curve"></span>
                   <a href="#" class="text-decoration-none">
                    <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></ion-icon></span>
                    <span class="item">Report</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 
                   
                   <li>
                    <span class="top_curve"></span>
                   <a href="#" class="text-decoration-none">
                    <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                    <span class="item">Coupon</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 
                   
                   <li>
                    <span class="top_curve"></span>
                   <a href="#" class="text-decoration-none">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="item">Logout</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 

                </ul>
            </div>
        </div>
         <div class="main_container">
        
          





        </div> 
     </div>
</div>
</div>  --}}
