<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center fw-bold">Category</h2>
     
      {{!-- {{#if insertError}}
        <p class="text-danger text-center ">invalid Email</p>
       {{else}}
      
       {{/if}} --}}
      <form action="/admin/addcategory" method="post">

        <div class="from-group">

          <label class="pt-2">Category Name</label>
          <input type="text" class="form-control mt-2" name="name" id="catname" placeholder=" Name" required="" />


        </div>


        <div class="from-group">

          <label class="pt-2">Category Details</label>
          <input type="text" class="form-control" name="details" placeholder="details" required="">

        </div>

        {{!-- <div class="from-group">

          <label>User Password</label>
          <input type="password" class="form-control" name="password" placeholder="User Password" required="">

        </div> --}}


        <button type="submit" class="btn btn-primary float-right mt-3">Add</button> 
        
         <a href="/admin/categoryback" class="btn btn-primary mt-3">Back</a>

      </form>
    </div>
  </div>
</div>

<script>
  $("input#catname").on({
  keydown: function(e) {
    if (e.which === 32)
      return false;
  },
  change: function() {
    this.value = this.value.replace(/\s/g,"");
}
});
</script>