
<div class="container adminlogin-body">
  <div class="login hide-login">
        
         <form class="login-container hide-form" method="POST" action="/admin/admin">
        
            <img class="adminloginimg  " src="/images/_Pngtree_shopping_bag_icon_for_your_5201340-removebg-preview (2).png" alt="" />
            <div class="input-container hide-section">
              <P class="fw-bold text-dark fs-4">Admin Login</P>
               <p><input type="email" placeholder="Email" name="email" /></p>
               <p><input type="password" placeholder="Password" name="password" /></p>
               <p><button type="submit" class="btn btn-success btnAdminLogin">Log in</p>
            </div>
         </form>
      </div>
</div>
