 <section class="vh-100 bg-gradient" style="background:linear-gradient(135deg, #65799b 0%,#f9c900 100%);"  >
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5" style="background:linear-gradient(135deg, #65799b 0%,#f9c900 100%);" >
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4 text-warning">Sign<span class="text-dark">UP</span></p>

                      {{#if signError}}
        <p class="text-danger text-center ">invalid email</p>
       {{else}}
      
       {{/if}} 
      
                      <form class="mx-1 mx-md-4" id="usersignup-form" action="/usersignup" method="post">
      
                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example1c"> Name</label>
                            <input name="fname" type="text" id="form3Example1c" class="form-control" required="" placeholder="name">
                           
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c"> Email</label>
                            <input name="email" type="email" id="form3Example1c" class="form-control" placeholder="email" />
                           
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4c">Phone number</label>
                            <input name="phonenumber" type="text" id="form3Example1c" class="form-control" placeholder="phone number" required=""/>
                           
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4c">Address</label>
                            <input name="address" type="text" id="form3Example1c" class="form-control" placeholder="address" required=""/>
                           
                          </div>
                        </div>
                        
                        
                       
                       
                       
                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example4c">Password</label>
                            <input name="password" type="password" id="form3Example1c" class="form-control" placeholder=" password" />
                           
                          </div>
                        </div>
      
                        
                        <div class="form-check d-flex justify-content-center mb-2 p-4">
                          
                           <a href="/userlogin" class="text-decoration-none text-dark">already have account?</a>
                          </label>
                        </div>
                           
                        
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" id="signupbtn" class="btn btn-warning btn-lg">Register</button>
                        </div>
      
                      </form>
      
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    
                     <h1 class="fw-bold" style="margin-left:10%;letter-spacing:5px;font-size:78px;color:white;">Vintage<br> &nbsp;&nbsp;Wear</h1>
                     
                     
                     
                      {{!-- <img src="/images/Gele blazers online kopen _ Fashionchick_nl.jpeg"
                        class="img-fluid  mr-5 h-100 w-75 m-5" alt="Sample image"> --}}
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
      <style>
        .error{
          color: brown;
        }

#form3Example1c{
  
  background: linear-gradient(to right, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



      </style>
      
      
      
      
