div.container.adminlogin-body {
    background: white;
    font-family: "Open Sans", sans-serif;
}

form {
    text-align: center;
}

.login {
    width: 400px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 0 5px 6px #00000036;
    transform: translate(-50%, -50%);
    border-radius: 22px;
    overflow: hidden;
    transition: 1s;
    height: 410px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.input-container {
    opacity: 1;
    transition: 1s;
}

img.adminloginimg {
    width: 80px;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 2px 6px #001a348a;
}

.login-header {
    background: rgb(0, 55, 109);
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: rgb(19, 18, 18);
    padding-top: 32px;
}

.login-container {
    background: #eae8e4;
    padding: 40px 30px;
    transition: 1s;
}

/* Every row inside .login-container is defined with p tags */
.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    
}

.login input[type="email"],
.login input[type="password"] {
    background:transparent;
    /* border-color: rgb(255, 255, 255); */
    color: rgb(24, 22, 22);
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ffffffe7;
    padding-left: 0;
    padding-bottom: 10px;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: "transparent";
}

.login input[type="button"] {
    /* background: #885c04; */
    width: 200px;
    margin: auto;
    border-bottom: 22px;
    border: none;
    color: white;
    overflow: hidden;
    border-radius: 22px;
    cursor: pointer;
    margin-top: 12px;
}

.btnAdminLogin{
    height: 40px;

}





/* Animation */

.hide-section {
    opacity: 0;
}

.hide-form {
    padding: 0;
    padding-top: 27px;
}

.hide-login {
    width: 165px;
    height: 167px;
    border-radius: 50%;
}


